html {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Source Sans Pro, sans-serif;
  font-size: 45px;
}


.topBorder {
    border-top: 2px solid #344861 !important ;
}
.bottomBorder {
    border-bottom: 2px solid #344861 !important;
}
.rightBorder {
    border-right: 2px solid #344861 !important;
}
.leftBorder {
    border-left: 2px solid  #344861 !important;
}

.setup {
        padding-left: auto;
        padding-right: auto;
}

.level {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.validation{
        display: flex;
        justify-content: center;
}
button{
    background: #ebebe4;
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 500;
    font-size: 25px;
    margin-top:20px ;
    margin-bottom: 20px;
}
button:active{
    border: 2px solid #a6bde6;
 }
.cell {
  border: 1px #bec6d4 solid ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  user-select: none;
}

.cell:hover {
  background-color: #bbdefb;
  border: 1px solid rgb(79, 183, 231);
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  padding-top: 5px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 600px;
  height: 550px;
  min-width: 600px;
  min-height: 580px;
  padding-bottom: 0;
  border-radius:30px;
}

.placeholder {
  background-color: #e8e8e4 !important ;
  user-select: none;
  font-size: 45px;
}

p.selected {
  background-color: lightblue;
}
p:placeholder-shown{
  background-color: pink;
}
p.cellError {
  color: red !important;
  background-color: #c5d3e6;
}