*{
    box-sizing: border-box;
    background: transparent
}
body{
    font-family: Source Sans Pro,sans-serif;
    font-size: 25px;
    text-align: center;

}
table{
    border:2px solid #344861;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

    
}
.border-bottom{
    border-bottom: 2px solid #344861;
}
.border-right{
    border-right: 2px solid #344861;
}
 td{
    border: 1px solid #bec6d4;
    border-collapse: collapse;
}
td div{
    height: 60px;
    width: 60px;
}
td input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.placeholder{
    background-color: #ebebe4; 
    font-weight: bolder; 
    pointer-events: none;
}
.cell-error{
    border:3px solid red;
}
button{
    background: #ebebe4;
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 500;
    font-size: 25px;
}
#validate{
    margin:20px ;
}
#easy{
    margin-right:100px;
    margin-bottom: 20px;
}
#medium{
    margin-right:100px;
    margin-left: 100px;
    margin-bottom: 20px;
}
#hard{
    margin-left:100px;
    margin-bottom: 20px;
}
button:active{
   border: 2px solid #a6bde6;
}
table tr td div:hover{
background: #b7ddfd;
}
table tr td div:checked{
    border: 21px solid rgb(54, 132, 168);
}
